.App {
  text-align: center;
  font-family: 'Lato';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Logo */
.container {
  height: 395px;
	width: 600px;
	border-radius: 8px;
	background-color: #16C79E;
	box-shadow: 0 22px 34px 0 rgba(0,0,0,0.18);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.overlay {
  height: 395px;
	width: 600px;
	border-radius: 8px;
  background-color: rgba(0,0,0,0.6);
  display: none;

  .share-btn {
    box-sizing: border-box;
    height: 61px;
    width: 208px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: rgba(244,246,248,0.1);
    color: #FFFFFF;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
}

.container:hover {
  .overlay {
    display: block;
  }
}

/* Dialog Box */
.dialogBox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  &.open {
    display: block;
  }
}

.dialogBox-content {
  background-color: #FFFFFF;

  button {
    background-color: #FFFFFF;
    border: none;
    float: right;
    padding: 20px;
  }
}

.content-container {
  padding: 35px 55px 40px 55px;
}

.social-medias {
  margin-bottom: 25px;
  height: 35px;

  span {
    color: #090B17;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 19px;
  	text-align: center;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.active {
  display: block;
}

.none {
  display: none;
}

.left-images {
  display: flex;
  flex-direction: column;
  height: 130px;

  .image-thmb {
    flex: 1;
    height: 120px;
    width: 120px;
    margin: 6.5px;
    position: relative;
  }
}

.thmb-overlay {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
}

.right-col {
  margin-left: 15px;
}

.big-img {
  width: 545px;
  height: 358px;
}

.info {
  height: 179px;
  border: 1px solid #D4DBE8;
  border-radius: 0 0 4px 4px;
  background-color: #FFFFFF;
  text-align: left;
  padding-left: 25px;

  h2 {
  	color: #090B17;
  	font-size: 18px;
  	font-weight: 900;
  	line-height: 27px;
  }

  div {
  	width: 495px;
  	color: #535971;
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 21px;
    margin-bottom: 20px;
  }

  a {
    color: #4F6DF5;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
